h5 {
    color: solid green;
}
h1{
    color: purple
}

.index_oferta{
    color: red
}
.index_precio{
    color: purple;
}

/* Estilos mati */

.disponible {
    color: green
}

.nav-link {
    /* Cambia la fuente del nav bar por una menos generica */
    font-family: 'Roboto', sans-serif; 
}